<ui:composition xmlns:t="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://java.sun.com/jsf/composite"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:form id="GebruikerWijzigen"  rendered="#{not empty userPasswordBean.currentUser and empty userPasswordBean.newUser}">
        <h2>Gebruiker aanpassen</h2>
        <table>
            <tr>
                <td>
                    Achternaam
                </td>
                <td>
                    <h:inputText size="25" id="achternaam" name="achternaam" value="#{userPasswordBean.currentUser.achternaam}"
                                 autofocus="true" required="true">
                    </h:inputText>
                </td>
                <td>
                    <h:message for="achternaam" style="color:red" />
                </td>
            </tr>
            <tr>
                <td>
                    Voornaam
                </td>
                <td>
                    <h:inputText size="25" id="voornaam" name="voornaam" value="#{userPasswordBean.currentUser.voornaam}"
                                 autofocus="true" required="true">
                    </h:inputText>
                </td>
                <td>
                    <h:message for="voornaam" style="color:red" />
                </td>
            </tr>
            <tr>
                <td>Rechten</td>
                <td>
                    <h:selectOneListbox id="accessLevel" name="accessLevel" size="1" value="#{userPasswordBean.currentUser.currentlevel}">
                        <f:selectItems value="#{userPasswordBean.accessLevels}" var="level"
                                       itemLabel="#{level}" itemValue="#{level}" />
                    </h:selectOneListbox>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>&#160;</td>
                <td  style="text-align: right">
                    <h:commandButton  value="Opslaan"
                                      action="#{userPasswordBean.oplaanEdit}" />&#160;
                    <h:commandButton  value="Annuleren"
                                      immediate="true"  action="#{userPasswordBean.annuleerEdit}" />&#160;

                </td>
                <td>&#160;</td>
            </tr>
        </table>
    </h:form>
</ui:composition>