<ui:composition  xmlns:p="http://primefaces.org/ui"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:h="http://xmlns.jcp.org/jsf/html" template="../template/commonLayout.xhtml" >
<ui:define name="content">
    <h3>Spring + JSF Locatie</h3>
    <h:form  name="payerSelector" id="payerSelector"  >
        <p:defaultCommand target="opzoekenPostcode" />
        <table>
            <tr>
                <td>PostCode</td>
                <td><p:inputText size="6" id="postcode" name="postcode" value="#{locatieJsfBean.postcode}"
                                 style="text-transform:uppercase;"       required="true"  autofocus="true" /></td>
                <td colspan="2">
                    <h:commandButton id="opzoekenPostcode"
                                     action="#{locatieJsfBean.fetchtData}" title="Opzoeken" />
                </td>
            </tr>
        </table>
    </h:form>
    <ui:include src="locaties.xhtml"  />
</ui:define>
</ui:composition>
